*
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    
}
a:hover
{
    text-decoration: none;
}
li{
    list-style: none;
}
.header
{
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('../images/1.png');
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    background-size: 100% 100%;
    position: relative;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
} 
.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.4;
     z-index: -1; 
     background: linear-gradient(to right,#1e5791 0%,#3ccdbb 0%,#16c9f6 100%);
}
.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.4;
     z-index: -1; 
     background: linear-gradient(to right,#1e5791 0%,#3ccdbb 0%,#16c9f6 100%);
}
.nav-item a
{
  color:#fff !important;
  font-weight: bold;
}
.header-section
{
    width: 100%;
    height:inherit;
    position: relative;
    color:white;
    text-align: center;
}
.center-div
{
    position:absolute;
    top:50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
p{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.6;
    color:#606060;
}
.header-buttons a
{
  border: 1px solid white;
  border-radius: 100px;
  margin:0px 5px;
  padding: 10px 30px;
  color: white;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
} 
.header-buttons a:hover
{
 color: #50d1c0;
 text-decoration: none;
 background-color: #fff;
} 
.center-div p{
 font-size: 1.3rem;
 padding: 10px 0 20px 0;
}
/* ------------------------------thre extra header----------------------- */

.header-extradiv
{
 width:100%;
 height:auto;
 margin:100px 0px;
 text-align: center;
}
.extra-div
{
    background-color: #fff;
    padding: 50px !important;
    transition: 0.3s;
}
.extra-div h2,.servicediv h2{
     font-size: 0.9rem;
    font-weight: bold;
    word-spacing: 4px;
    margin:20px 0px 10px 0px;
}
.extra-div:hover
{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}


/* *********************Service offer start********************************** */

.service-offers
{
    background: #f7f7f9;
    padding: 50px 0px;
    margin-bottom:50px;

}
.headings
{
    margin-bottom: 50px;
}
.headings h1{
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
.service-icons{
   display: flex;
   justify-content: center;
   align-items: center;
}
.project-work
{
    margin: 100px 0px;
}
.project-work h1{
    font-size: 2rem;
    text-align: center;
}



/* *********************Service offer end********************************** */


/* *****************************************PRICING SERVICE START************************* */

.pricing
{
    width:100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    
     z-index: -1; 
     background: linear-gradient(1600deg,#16c9f6 50%,#fff 0%);
}
.money
{
    font-size: 20px;
    line-height: 1;
    color:#606060;
}
.card
{
    transition: 0.4s ease;
}

.card-footer a
{
  border: 1px solid #50d1c0;
  border-radius: 100px;
  margin:0px 5px;
  padding: 10px 30px;
  color: #50d1c0;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
} 
.card-footer a:hover
{
 color: #50d1c0;
 text-decoration: none;
 background-color: #fff;
} 
.card-footer
{
    padding: 50px !important;
    margin:40px 0px;
}
.card:hover
{
    transform: translateY(-30px);
}

/* *******************************************PRICING SERVICE ENDS**********************8 */

/* ****************************************our happy clients**********************/

  .carousel-cell {
    width: 100%;
    }

    /* cell number */
    .carousel-cell:before {
      display: block;
    }
    .ourhappy
    {
     width:100%;
     height: 100vh;  
     padding: 80px 0px; 
    }
    .box
    {
        text-align: center;
        border:1px solid rgba(0,0,0,0.2);
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
        border-radius: 2px;
        transition: 0.3s ease;
    }
    .box:hover{
        background: #16c9f6;
    }
    .box:hover p{
        color: white;
    }
    .carousel-indicators
    {
       position: absolute;
       right: 0%;
       bottom: -60px !important;
    }
    .carousel-indicators li{
        background: #16c9f6;

    }
    .box a
    {
        position: relative;
    }
    .box a img{
        width:100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 20px;
    }
    .box h1{
        font-size: 13px;
        color: #000;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .box h2{
        font-size: 13px;
        font-weight: 400px;
        color: #666666;
        margin-bottom: 20px;
    }
    .input1
    {
        margin:40px 0px;
    }



/* **********************************contact us start***************************** */

.mridul
{
    width:100%;
    height:100vh;
    padding: 80px 0px;
    position: relative;
}
.mridul:before
{
content: "";
position: absolute;
top: 0%;
left: 0%;
bottom: 0%;
right: 0%;
background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
z-index: -1;
}
.form-button button
{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin:0px 5px;
    padding: 10px 30px;
    color: #50d1c0;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none; 
}

/* ----------------------------------newsletter-------------------------- */
.newsletter
{
    width:100%;
    height:auto;
    margin:80px auto !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.news-letter
{
    border-radius: 100px 0px 0px 100px  !important;
    min-width: 150px;
    min-height: 39px;
    margin-right: 30px;
}
.input-group-text
{
    background-color: #16c9f6 !important;
    border: 20px;
}
.footer-div li a{
    text-decoration: none;
}

/* --------------------------------footer starts---------------------------- */

.footer-section
{
    width:100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;
}
.footer-section p
{
    color:#fff;

}
.footer-section h3{

    text-transform: uppercase;
    color:#fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
#myBtn
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color:#fff;
    background: #00abff;
}
@media(max-width:768px)
{
    .nav-item,.ourhappy,.contactus{
        text-align:center !important;
    }
    .pricing
    {
        height: auto;
        margin-top: 50px;
    }
    .card-second
    {
       margin: 3px 0px;
    }
    
}



/* --------------------------------footer ends ---------------------------------- */